
@font-face {
    font-family: 'ZodiacFont';
    src: url('/fonts/ZodiacFont.ttf') format('truetype');
}

body, html {
    overflow-x: hidden;
}

p{
      font-family: "Josefin Sans", sans-serif;

}

.navbar{
    background-color: rgba(48, 25, 52, 0.781);
    backdrop-filter: blur(10px); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Pastikan lebar navbar 100% */
    z-index: 1000; /* Agar navbar berada di atas konten lainnya */
}
.navbar-brand span{
    font-family: "Josefin Sans", sans-serif;
}

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
}

.navbar .navbar-brand{
  color: hsl(230, 100%, 95%);
  font-size: 2rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

.navbar .nav-item{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  transition: all 0.3s ease;
}

.navbar .nav-item:hover{
    text-shadow: 2px 2px 10px rgb(253, 5, 5);
}

.about .container{
    margin-top: 5rem;
}

.hero img{
    width: 100%;
    padding-top: 2rem;
    margin-left: 2rem;
    border-radius: 50%;
    animation: rotate-shadow 5s infinite linear;
}

@keyframes rotate-shadow {
    0% {
        box-shadow: 0px 4px 15px rgba(128, 0, 128, 0.5), 0px 0px 25px rgba(148, 0, 211, 0.3);
    }
    25% {
        box-shadow: 20px 20px 25px rgba(128, 0, 128, 0.6), -20px -20px 35px rgba(148, 0, 211, 0.4);
    }
    50% {
        box-shadow: 0px 4px 40px rgba(128, 0, 128, 0.7), 0px 0px 45px rgba(148, 0, 211, 0.5);
    }
    75% {
        box-shadow: -20px -20px 35px rgba(128, 0, 128, 0.6), 20px 20px 25px rgba(148, 0, 211, 0.4);
    }
    100% {
        box-shadow: 0px 4px 15px rgba(128, 0, 128, 0.5), 0px 0px 25px rgba(148, 0, 211, 0.3);
    }
}


.hero{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}

.hero-box .box h1{
    width: 100%;
}

.box h1{
      font-family: "Josefin Sans", sans-serif;

}

.box h4{
      font-family: "Josefin Sans", sans-serif;

    font-size: 1.1rem;
    width: 100%;
}

.hero .box span{
    font-family: HipHop;
    color: rgb(207, 6, 6);
    text-shadow: 2px 2px 10px rgb(161, 10, 10);;
}

@media (max-width: 1440px){

    .hero{
        padding-top: 9rem;
    }

    
}

@media (max-width: 992px){

    .hero{
        padding-top: 9rem;
    }

    .box h4{
          font-family: "Josefin Sans", sans-serif;

        font-size: 1rem;
        width: 100%;
    }
    
}

@media (max-width: 768px){

    .hero{
        padding-top: 9rem;
    }
    .hero-box{
        text-align: center;
    }
}

/* ABOUT */
.about {
    position: relative;
    width: 100%;
    background-image: url("/images/gacor.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    padding: 100px 0; 
    color: #fff; 
    overflow: hidden; 
}

.about h1{
      font-family: "Josefin Sans", sans-serif;

}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623); 
    z-index: 0;
}

.about-box {
    position: relative;
    z-index: 1; /
}

.about .col{
    z-index: 1;
}

.about .container h4{
    z-index: 1;
      font-family: "Josefin Sans", sans-serif;

}

.about .col img{
    width: 100%;
    border: black;
    border-radius: 50%;
}

.about-box img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto; 
    display: block;
    background-color: #dbddf1;
    padding: 15px;
}

@media (max-width: 475px) {
    .about-box img {
        max-width: 300px;
    }
}


/* ABOUT */

/* CONTENT */
.contents{
    background-color: black;
    color: white;
    min-height: 100vh;
    padding-bottom: 4rem;
}

.contents h4{
    font-family: truelies;
    font-size: 2rem;
}

.contents h1{
      font-family: "Josefin Sans", sans-serif;

    
}

.contents label{
      font-family: "Josefin Sans", sans-serif;

}

.contents option{
      font-family: "Josefin Sans", sans-serif;

}

.contents .row img{
    width: 100%;
    height: 300px; 
    object-fit: cover;
    box-shadow: 0px 4px 10px rgb(255, 253, 253);
    transition: box-shadow 0.3s ease-in-out;
}

.contents .row img:hover{
    
    box-shadow: 0px 4px 10px rgb(177, 0, 0);
}

/* CONTENT */

/* footer */
.footer{
    
    padding-bottom: 20px;
    background-color: black;

}

.footer .container{
    padding: 5rem;
}

.container span{
    font-family: HipHop;
}

.col a{
    text-decoration: none;
    color: white;
      font-family: "Josefin Sans", sans-serif;

    font-weight: bold;
    transition: all 0.3s ease;
    
}

.footer .col a:hover{
    color:hsla(0, 100%, 50%, 0.5);
}

.footer .col h4{
    text-decoration: none;
    color: white;
      font-family: "Josefin Sans", sans-serif;

    font-weight: bold;
}

.row{
    margin-bottom: 2rem;
}


/* footer */

/* GALLERY */
.gallery{
    background-color: black;
    padding: 80px 0;
}

.gallery h1{
      font-family: "Josefin Sans", sans-serif;

}

.gallery h4{
      font-family: "Josefin Sans", sans-serif;

}

.gallery img{
    max-width: 100%;
    height: 300px; 
    object-fit: cover;
    background-color: #dbddf1;
    padding: 15px;
    box-shadow: 0 0 15px rgba(226, 0, 0, 0.486);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery a h1{
    font-family: 'ZodiacFont';
    font-size: 12rem;  
    
}

.gallery img:hover{
    transform: scale(1.1);
}

#gallery-modal .modal-img{
    width: 100%;
}
/* GALLERY */

/* ULASAN */

/* Pastikan ulasan memiliki background hitam */
.ulasan {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 200vh;
    background-color: black; /* Memastikan background hitam */
    flex-direction: column;
}

.ulasan-container {
    background-color: transparent; /* Pastikan ini transparan agar background hitam dari .ulasan tetap terlihat */
    padding: 20px;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 1200px;
}

.ulasan-container h1 {
    font-size: 24px;
    margin: 0;
}

.ulasan-container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.rating {
    font-size: 1rem;
    margin: 10px 0;
}

.stars {
    font-size: 30px;
    margin: 10px 0;
}

.star {
    cursor: pointer;
    margin: 0 5px;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(251, 255, 120);
}

.four {
    color: rgb(255, 255, 0);
}

.five {
    color: rgb(24, 159, 14);
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.ulasan button {
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Styling untuk review */
.reviews {
    display: flex;
    flex-direction: row; /* Atur review secara horizontal */
    justify-content: center;
    flex-wrap: wrap;
}

.review {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    background-color: #131212;
    width: 300px;
    margin: 15px;
}

/* Menyoroti teks review */
.review-text {
    background-color: #0c0c0c; /* Highlight review text */
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

/* Styling untuk bagian 'Created' dan 'Updated' */
.review-dates {
    font-size: 0.8rem !important; /* Ukuran font lebih kecil */
    text-align: left; /* Teks rata kiri */
    margin-top: 10px;
    display: block; /* Membuat elemen tampil secara vertikal */
    line-height: 1.5;
}

.review .mb-3 {
    margin-bottom: 1rem;
}

.review .mb-1 {
    margin-bottom: 0.5rem;
}

.review .mb-0 {
    margin-bottom: 0;
}

.btn-group button {
    margin-right: 5px;
}

/* ACCOUNT */

.account {
    padding-top: 8rem;
    padding-bottom: 50px;
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;}

.card {
    border-radius: 15px;
    overflow: hidden;
    background-color: #222; /* Warna latar card */
    color: white; /* Warna teks */
}




/* ACCOUNT */